:root{
    --primBack: #202020;
    --azulPrinc: #28536C;
    --ama: #ffdcb2;
    --amaF: #694110;
    --azulF: #01111A;
    --xl: 4rem;
    --l: 3rem;
    --m: 2rem;
    --s: 1rem;
    --xs: 0.5rem;

}